@import url("https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap");
* {
  font-family: Arial, Helvetica, sans-serif;
}
.setup-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  height: 70vh;
  width: 30vw;
  margin-top: 100px;
  padding: 10px;
}
.setup-profile-pic-container,
.setup-username-container,
.setup-account-type-container,
.setup-bio-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.setup-profile-pic-container {
  height: 10%;
  width: 100%;
}
.setup-profile-pic-container > img {
  max-width: 20%;
  border-radius: 50%;
}
.setup-container > div {
  margin-top: 7%;
}
.setup-username-container > input {
  padding: 11px;
  margin-left: 10px;
  border-radius: 10px;
}
.setup-account-type-container > select {
  padding: 8px;
  border-radius: 10px;
  margin-left: 6px;
}
.setup-bio-container > textarea {
  margin-left: 18px;
  border-radius: 10px;
  width: 80%;
  height: 165%;
  padding: 15px;
}
.setup-profile-pic-container > input {
  margin-left: 20px;
}
.setup-submit-btn {
  margin: auto;
}
.setup-submit-btn > button {
  padding: 14px;
  border: none;
  margin-top: 20px;
  background: rgb(211, 37, 81);
  color: #ffff;
  border-radius: 50px;
  box-shadow: 12px 12px 24px #a9afbf, -12px -12px 24px #f9ffff;
}
.setup-username-container > input,
.setup-container,
#account-type,
.setup-bio-container > textarea {
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background: #d1d8ec;
  -webkit-box-shadow: 12px 12px 24px #c9cfe3, -12px -12px 24px #d9e1f5;
  box-shadow: 12px 12px 24px #c9cfe3, -12px -12px 24px #d9e1f5;
  border: none;
  outline: none;
}
@media screen and (max-width: 1024px) {
  .setup-container {
    width: 100vw;
  }
}
